VITE_SUPABASE_URL=https://evkdobboqwqjsetfeucb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV2a2RvYmJvcXdxanNldGZldWNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNTk2NjYsImV4cCI6MjA5NDkzNTY2Nn0.piOyOto7BfuMeozGhhafhS8u0b-IhLQyF8OdcAvAMGc

CLOUDINARY_CLOUD_NAME=dpzquooej
CLOUDINARY_API_KEY=568572826427789
CLOUDINARY_API_SECRET=vRkLiHJx4d8_w6Yhi_1ByK-m51U
